<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>841633644953-et1q7b7o901doo1ls8k2e652km9223sl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.841633644953-et1q7b7o901doo1ls8k2e652km9223sl</string>
	<key>API_KEY</key>
	<string>AIzaSyCYFtGmuUi4cNFOgLxgg5KWlMET099WOMc</string>
	<key>GCM_SENDER_ID</key>
	<string>841633644953</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.coryginsberg.HackerNewsApp</string>
	<key>PROJECT_ID</key>
	<string>hacker-news-ios-96e20</string>
	<key>STORAGE_BUCKET</key>
	<string>hacker-news-ios-96e20.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:841633644953:ios:1819f2c5dc2b2258d31308</string>
	<key>DATABASE_URL</key>
	<string>https://hacker-news-ios-96e20-default-rtdb.firebaseio.com</string>
</dict>
</plist>
